/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800|Open+Sans+Condensed:300,300italic,700);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
body.secondVersion {
  margin: 0px;
  padding: 0px; }
  body.secondVersion .topBackground {
    width: 100%;
    background-color: #aaa;
    border-bottom: 2px solid black; }
    body.secondVersion .topBackground .headerRow {
      width: 70%;
      margin-left: 15%;
      height: 100%;
      color: #22a39f;
      display: table;
      cursor: pointer; }
      body.secondVersion .topBackground .headerRow .headerItem {
        display: table-cell;
        vertical-align: bottom;
        margin-top: 40px; }
      body.secondVersion .topBackground .headerRow .myName {
        font-size: 3em;
        color: #22a39f;
        font-weight: bold;
        font-style: italic; }
      body.secondVersion .topBackground .headerRow .myLinks {
        text-align: right; }
      body.secondVersion .topBackground .headerRow a {
        text-decoration: none;
        color: #22a39f; }
  body.secondVersion .bottomBackground {
    height: 10000px;
    background-image: url("http://janellecontreras.com/images/greyWoodBack2.jpg");
    background-color: #aaa; }
  body.secondVersion .bodywrap {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 5px 5px 2px 0px rgba(255, 255, 255, 0.25);
    box-shadow: 5px 5px 2px 0px rgba(255, 255, 255, 0.25); }
    body.secondVersion .bodywrap .mainNav {
      font-family: Tahoma, Geneva, sans-serif;
      font-weight: bold;
      text-align: center;
      background-color: #222;
      color: white;
      width: 100%;
      -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75); }
      body.secondVersion .bodywrap .mainNav ul {
        padding-left: 0px;
        height: 100%; }
        body.secondVersion .bodywrap .mainNav ul li {
          display: inline;
          cursor: pointer; }
          body.secondVersion .bodywrap .mainNav ul li:hover {
            background-color: #391; }
        body.secondVersion .bodywrap .mainNav ul .menuItemSelected {
          background-color: white;
          color: #333;
          -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75); }
    body.secondVersion .bodywrap .mobileNav {
      font-family: Tahoma, Geneva, sans-serif;
      font-weight: bold;
      text-align: right;
      background-color: #434242;
      color: white;
      width: 100%; }
      body.secondVersion .bodywrap .mobileNav .sandMenu {
        background-color: #434242;
        cursor: pointer; }
      body.secondVersion .bodywrap .mobileNav .mobileItems {
        border-top: 2px solid #22a39f;
        background-color: #434242; }
    body.secondVersion .bodywrap .panelWrap {
      display: none;
      margin: 30px; }
      body.secondVersion .bodywrap .panelWrap .sectionTitle {
        text-align: left;
        font-style: italic;
        color: black; }
      body.secondVersion .bodywrap .panelWrap .sectionBar {
        background-color: #434242;
        margin-left: 0px; }
      body.secondVersion .bodywrap .panelWrap .logosRow {
        text-align: center;
        width: 91%;
        margin-left: 4.5%;
        display: table; }
        body.secondVersion .bodywrap .panelWrap .logosRow .logoBlock {
          width: 13%;
          display: table-cell;
          vertical-align: middle; }
          body.secondVersion .bodywrap .panelWrap .logosRow .logoBlock img {
            width: 96%;
            margin-left: 2%; }
      body.secondVersion .bodywrap .panelWrap #contactform {
        margin: 0;
        padding: 0; }
        body.secondVersion .bodywrap .panelWrap #contactform .topRow .nameField {
          float: left;
          width: 50%; }
        body.secondVersion .bodywrap .panelWrap #contactform .topRow .emailField {
          float: left;
          width: 50%; }
        body.secondVersion .bodywrap .panelWrap #contactform .messageRow {
          margin-top: 1em; }
        body.secondVersion .bodywrap .panelWrap #contactform .subButton {
          margin-top: 1em; }
    body.secondVersion .bodywrap .selected {
      display: block; }

@media (min-width: 790px) and (max-width: 600000px) {
  body.secondVersion .topBackground {
    height: 190px; }
  body.secondVersion .bodywrap {
    top: 110px;
    left: 15%;
    width: 70%; }
    body.secondVersion .bodywrap .panelWrap .sectionHeading .meImage {
      width: 94%;
      margin-left: 3%; }
    body.secondVersion .bodywrap .mainNav {
      font-size: 2em;
      line-height: 2em;
      height: 60px; }
      body.secondVersion .bodywrap .mainNav ul li {
        padding: 12px 5px 22px 5px; }
    body.secondVersion .bodywrap .mobileNav {
      display: none; }
      body.secondVersion .bodywrap .mobileNav .sandMenu {
        padding-right: 10px; }
      body.secondVersion .bodywrap .mobileNav .mobileItems {
        width: 50%;
        margin-left: 50%;
        padding-right: 5px;
        border-radius: 0px 0px 0px 5px; } }
@media (min-width: 1px) and (max-width: 789px) {
  body.secondVersion .topBackground {
    display: none; }
  body.secondVersion .bodywrap {
    top: 100px;
    left: 10%;
    width: 80%; }
    body.secondVersion .bodywrap .mainNav {
      display: none; }
    body.secondVersion .bodywrap .mobileNav {
      display: inline; }
      body.secondVersion .bodywrap .mobileNav .sandMenu .mobileName {
        color: #22a39f; }
    body.secondVersion .bodywrap .meImage {
      width: 50%;
      margin-left: 25%; } }
