/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800|Open+Sans+Condensed:300,300italic,700);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
body {
  padding: 0 16px;
  background-color: #591E23;
  color: black;
  margin: 10px auto; }
  body .mainBodyWrap {
    background-color: #F2D8A7;
    width: 70%;
    padding: 10px 10px;
    text-align: center;
    margin: 0px auto; }
    body .mainBodyWrap .sectionTitle {
      text-align: left;
      font-size: 2.5em;
      font-style: italic; }
    body .mainBodyWrap .sectionBar {
      background-color: #73503c;
      padding: 10px;
      width: 98%;
      margin-left: 2%; }
    body .mainBodyWrap .colorScheme {
      height: 100px; }
      body .mainBodyWrap .colorScheme .ruby {
        background-color: #591E23;
        height: 100px; }
      body .mainBodyWrap .colorScheme .pink {
        background-color: #d94e67;
        height: 100px; }
      body .mainBodyWrap .colorScheme .tan {
        background-color: #F2D8A7;
        height: 100px; }
      body .mainBodyWrap .colorScheme .nude {
        height: 100px; }
      body .mainBodyWrap .colorScheme .brown {
        background-color: #73503c;
        height: 100px; }
      body .mainBodyWrap .colorScheme .black {
        background-color: black;
        height: 100px; }
