body {
        padding: 0 16px;
        background-color: #330000;
        color: white;
        margin: 10px auto;
}

.mainBodyWrap {
        background-color: black;
        width: 80%;
        padding: 10px 10px;
        text-align:center;
        margin: 0px auto;
}