body.secondVersion {
	margin: 0px;
	padding: 0px;

	.topBackground {
		height: 190px;
		width: 100%;
		background-color: #aaa;
		border-bottom: 2px solid black;
	}
	.bottomBackground {
		height: 10000px;
		background-image: url('http://janellecontreras.com/images/greyWoodBack2.jpg');
		background-color: #aaa;
	}

	.bodywrap {
		position: absolute;
		top: 100px;
		left: 10%;
		width: 80%;
		background-color: white;
		height: 600px;
		-webkit-box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);
		-moz-box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);
		box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);

		.mainNav {
	    	font-family: Tahoma, Geneva, sans-serif;
	    	font-weight: bold;
	    	text-align: center;
	    	font-size: 2em;
	    	line-height: 2em;
	    	background-color: #222;
	    	color: white;
	    	height: 60px;
	    	width:100%;

	    	-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);

	    	ul {
	    		padding-left: 0px;
	    		height: 100%;

		    	li {
		    		padding: 12px 5px 22px 5px;
		    		display: inline;
		    		&:hover {
		    			bakcground-color: #391;
		    		}
		    		cursor: pointer;

		    	}
		    	.menuItemSelected {
		    		background-color: white;
		    		color: #333;
		    		-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
					-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
					box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
		    	}
		    }
	    }
	    .mobileNav {
			font-family: Tahoma, Geneva, sans-serif;
	    	font-weight: bold;
	    	text-align: right;

	    	background-color: $siteDGrey;
	    	color: white;
	    	width: 100%;
	    	.sandMenu {
	    		background-color: $siteDGrey;
	    		padding-right: 10px;
	    		cursor: pointer;
	    	}
	    	.mobileItems {
	    		border-top: 2px solid $siteGreen;
	    		background-color: $siteDGrey;
	    		width: 50%;
	    		margin-left: 50%;
	    		padding-right: 5px;
	    		border-radius: 0px 0px 0px 5px;
	    	}
		}
	    img {
	    	width: 95%;
	    }
	    .panelWrap {
	    	display: none;

		    .sectionTitle {
		        text-align: left;
		        font-style: italic;
		        color: $siteGreen;
		    }
		    .sectionBar {
		        background-color: $siteDGrey;
		        margin-left: 0px;
		    }
		    .sectionText {
		        text-align: left;
		        p {
		        	color: $siteLtGrey;
		        }
		    }
		    .logos {
		    	margin-bottom: 30px;
		    }
		}
		.selected {
			display: block;
		}
	}
}