body.secondVersion {
	margin: 0px;
	padding: 0px;

	.topBackground {
		height: 160px;
		width: 100%;
		background-color: #aaa;
		border-bottom: 2px solid black;
	}
	.bottomBackground {
		height: 10000px;
		background-image: url('http://janellecontreras.com/images/greyWoodBack2.jpg');
		background-color: #aaa;
	}

	.bodywrap {
		position: absolute;
		top: 100px;
		left: 10%;
		width: 80%;
		background-color: white;
		height: 600px;
		-webkit-box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);
		-moz-box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);
		box-shadow: 5px 5px 2px 0px rgba(255,255,255,0.25);

		.mainNav {
	    	font-family: Tahoma, Geneva, sans-serif;
	    	font-weight: bold;
	    	text-align: center;
	    	font-size: 2em;
	    	line-height: 2em;
	    	background-color: #222;
	    	color: white;
	    	height: 60px;
	    	width:100%;

	    	-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);

	    	ul {
	    		padding-left: 0px;
	    		height: 100%;

		    	li {
		    		padding: 12px 5px 12px 5px;
		    		display: inline;
		    		&:hover {
		    			bakcground-color: #391;
		    		}
		    		cursor: pointer;
		    	}
		    	.menuItemSelected {
		    		background-color: white;
		    		color: #333;
		    	}
		    }
	    }
	}
}