body.secondVersion {
	margin: 0px;
	padding: 0px;

	.topBackground {
		height: 200px;
		width: 100%;
		background-color: #aaa;
		border-bottom: 2px solid black;
	}
	.bottomBackground {
		height: 10000px;
		background-image: url('http://janellecontreras.com/images/greyWoodBack2.jpg');
		background-color: #aaa;
	}
}